# dependencies
node_modules/
.pnpm-store/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# environment files
.env
.env.*

# editors/ide
.vscode/
.idea/

# os files
.DS_Store
Thumbs.db

# build outputs
coverage/
.nyc_output/
dist/
build/

# caches
.cache/
.eslintcache
.turbo/

# frameworks (safety)
.next/
